# MIT License

# Copyright (c) 2023 Paolo Salvatore Galfano, Giuseppe Sorrentino

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

[connectivity]
# Kernel instantiation
nk = stream_constant1:1:stream_constant1_1
nk = stream_denom:1:stream_denom_1
nk = forward_pe:1:forward_pe_1
nk = broadcast_x3:1:broadcast_x3_1
nk = naive_mem2stream:1:naive_mem2stream_1
nk = naive_stream2mem:1:naive_stream2mem_1

# SLR assignment
slr = stream_constant1_1:SLR0
slr = stream_denom_1:SLR0
slr = forward_pe_1:SLR0
slr = broadcast_x3_1:SLR0
slr = naive_mem2stream_1:SLR0
slr = naive_stream2mem_1:SLR0

# Memory bank assignment
sp = stream_constant1_1.mem:DDR[0]
sp = stream_denom_1.mem:DDR[0]
sp = naive_mem2stream_1.mem:DDR[0]
sp = naive_stream2mem_1.mem:DDR[0]

# AXI-stream connections
stream_connect = stream_constant1_1.stream:forward_pe_1.c1
stream_connect = stream_denom_1.stream:forward_pe_1.c2
stream_connect = naive_mem2stream_1.stream:forward_pe_1.x2
stream_connect = broadcast_x3_1.density_loopback:forward_pe_1.x1:32
stream_connect = forward_pe_1.x3:broadcast_x3_1.from_pe_x3
stream_connect = broadcast_x3_1.density_intermediate:naive_stream2mem_1.stream

[vivado]
# Improve the Vitis hw_emu running speed
prop=fileset.sim_1.xsim.elaborate.xelab.more_options={-override_timeprecision -timescale=1ns/1ps}
